@charset "utf-8";

/*視窗背景色設定*/
body {
    background-color: rgb(136, 255, 0);
}



/*連結顏色設定*/
a {
    color: brown;
}


/*頁首,導覽,頁尾的共通設定*/


/*導覽樣式設定*/


/*頁面標題設定*/
h1 {
    background-color: aqua;
    color: blueviolet;
    width: 5%;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
    font-size: 2em;
    border:  white double 10px;
}


/*次標題設定*/
h2{
    background-color: rgb(103, 182, 39);
    color: rgb(24, 130, 192);
    border: rgb(245, 228, 0) double;
}


/*小標題設定*/


/*內容區塊邊框設定*/


/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/


/*圓形圖片設定*/